--Tytuł: Generowanie struktury bazy danych TechnicalCatalogManagement z przykładowymi danymi
--Autor: Adam Bernaś
--Update: 27-02-2022
--Wersia: 1.4
--Opis: 
--	# dodatkowe elementy i funkcjonalności tej bazy jak widoki, procedury czy funkcję znajdują są w repozytorium w postaci osobnych plików
--	# aby zapłenić bazę więszką ilością danych należy użyć procedury z pliku "Generator losowych danych do TechnicalCatalogManagement"
--	# baza danych może zostać rozbudowana o nowe elementy i funkcjonalności

--Sprawdzanie czy baza danych już istnieje
IF EXISTS (SELECT name FROM sys.databases WHERE name='TechnicalCatalogManagement')  
DROP DATABASE TechnicalCatalogManagement
GO
--Tworzenie i korzystanie z bazy danych "TechnicalCatalogManagement"
CREATE DATABASE TechnicalCatalogManagement
GO
USE TechnicalCatalogManagement
GO
SET NOCOUNT ON
--Tworzenie tabeli Dictionary
CREATE TABLE dbo.Dictionary
(
	IdDict int NOT NULL 
		CONSTRAINT PK_Dictionary PRIMARY KEY(IdDict)
		CONSTRAINT CH_Dictionary_IdDict CHECK(IdDict > 0),
	NameDict nvarchar(30) NOT NULL
)
GO
--Tworzenie tabeli DictionaryItem
CREATE TABLE dbo.DictionaryItem
(
	IdDicItem int NOT NULL
		CONSTRAINT PK_DictionaryItem PRIMARY KEY(IdDicItem)
		CONSTRAINT CH_DictionaryItem_IdDicItem CHECK(IdDicItem > 0),
	IdDict int NOT NULL,	
	Value varchar(30) NOT NULL,
	CodeValue nvarchar(20) NOT NULL
		CONSTRAINT UNQ_DictionaryItem_CodeValue UNIQUE(CodeValue)
)
GO
CREATE INDEX INDEX_DictionaryItem_IdDict ON dbo.DictionaryItem(IdDict)
GO
--Tworzenie tabeli Document
CREATE TABLE dbo.Document
(
	IdDoc int IDENTITY(1,1) NOT NULL 
		CONSTRAINT PK_Document PRIMARY KEY(IdDoc),
	IdDT int NOT NULL,
	DocName nvarchar(50) NOT NULL
		CONSTRAINT UNIQ_Document_DocName UNIQUE(DocName),
	IdDocState int NULL,
	IdDocRelation int NULL,
	ObjectId nvarchar(15) NULL
		CONSTRAINT UNQ_Document_ObjectId UNIQUE(ObjectId)
)
GO
--Tworzenie tabeli DocumentItem
CREATE TABLE dbo.DocumentItem
(
	IdDocI int IDENTITY(1,1) NOT NULL
		CONSTRAINT PK_DocumentItem PRIMARY KEY(IdDocI),
	IdDTI int NOT NULL,
	IdDoc int NOT NULL,
	DocumentValue nvarchar(35) NOT NULL
)
GO
--Tworzenie tabeli DocumentTemplate
CREATE TABLE dbo.DocumentTemplate
(
	IdDT int NOT NULL
		CONSTRAINT PK_DocumentTemplate PRIMARY KEY(IdDT),
	CodeDT nvarchar(20) NOT NULL,
	NameDT nvarchar(30) NOT NULL 
)
GO
CREATE INDEX INDEX_DocumentTemplate_CodeDT ON dbo.DocumentTemplate(CodeDT)
GO
--Tworzenie tabeli DocumentTemplateItem
CREATE TABLE dbo.DocumentTemplateItem
(
	IdDTI int NOT NULL
		CONSTRAINT PK_DocumentTemplateItem PRIMARY KEY(IdDTI),
	IdDT int NOT NULL,
	CodeDTI nvarchar(20) NOT NULL,
	NameDTI nvarchar(30) NOT NULL
)
GO
CREATE INDEX INDEX_DocumentTemplateItem_IdDT_CodeDTI ON dbo.DocumentTemplateItem(IdDT,CodeDTI)
GO
--Tworzenie tabeli Task
CREATE TABLE dbo.Task
(
	IdTask int IDENTITY(1,1) NOT NULL
		CONSTRAINT PK_Task PRIMARY KEY(IdTask),
	IdTaskState int NOT NULL,
	ObjectId nvarchar(15) NOT NULL,
	Name nvarchar(50) NOT NULL
)
GO
--Tworzenie tabeli TasksList
CREATE TABLE dbo.TasksList
(
	IdTaskList int NOT NULL
		CONSTRAINT PK_TaskList PRIMARY KEY(IdTaskList),
	TaskName varchar(60) NOT NULL,
	CodeScope nvarchar(20) NOT NULL
)
GO
CREATE INDEX INDEX_TaskList_CodeScope ON dbo.TasksList(CodeScope)
GO
--Tworzenie tabeli TaskState
CREATE TABLE dbo.TaskState
(
	IdTaskState int NOT NULL 
		CONSTRAINT PK_TaskState PRIMARY KEY(IdTaskState),
	Name varchar(20) NOT NULL,
	IsClosed int NOT NULL
)
GO
CREATE INDEX INDEX_TaskState_IsClosed ON dbo.TaskState(IsClosed)
GO
--Wprowadzanie danych do tabeli Dictionary
INSERT dbo.Dictionary (IdDict, NameDict) VALUES 
(1, N'Zakres danych katalogu'),
(2, N'Producenci'),
(3, N'Grupy produktów')

--Wprowadzanie danych do tabeli DictionaryItem

--Wprowadzanie danych do tabeli Document
SET IDENTITY_INSERT dbo.Document ON
SET IDENTITY_INSERT dbo.Document OFF

--Wprowadzanie danych do tabeli DocumentItem
SET IDENTITY_INSERT dbo.DocumentItem ON
SET IDENTITY_INSERT dbo.DocumentItem OFF

--Wprowadzanie danych do tabeli DocumentTemplate
INSERT dbo.DocumentTemplate (IdDT, CodeDT, NameDT) VALUES 
(1, N'PCLINE', N'Typoszereg'),
(2, N'PCRELEASE', N'Wydanie')

--Wprowadzanie danych do tabeli DocumentTemplateItem
INSERT dbo.DocumentTemplateItem (IdDTI, IdDT, CodeDTI, NameDTI) VALUES 
(1, 1, N'CODE_L', N'Kod'),
(2, 1, N'NAME_L', N'Nazwa'),
(3, 1, N'SCOPE_L', N'Zakres'),
(4, 1, N'PRODUCER_L', N'Producent'),
(5, 1, N'GROUP_L', N'Grupa'),
(6, 2, N'CODE_R', N'Kod'),
(7, 2, N'NAME_R', N'Nazwa'),
(8, 2, N'SCOPE_R', N'Zakres'),
(9, 2, N'PRODUCER_R', N'Producent'),
(10, 2, N'GROUP_R', N'Grupa'),
(11, 2, N'NAME_LINE_R', N'Nazwa typoszeregu')

--Wprowadzanie danych do tabeli Task
SET IDENTITY_INSERT dbo.Task ON 
SET IDENTITY_INSERT dbo.Task OFF

--Wprowadzanie danych do tabeli TaskList

--Wprowadzanie danych do tabeli TaskState
INSERT dbo.TaskState (IdTaskState, Name, IsClosed) VALUES 
(1, N'Nowy', 0),
(2, N'Realizowany', 0),
(3, N'Wstrzymany', 0),
(4, N'Odrzucony', 1),
(5, N'Wykonany', 1),
(6, N'Usunięty', 1)
GO
--Tworzenie kluczy obcych do tabel
ALTER TABLE dbo.DictionaryItem 
	ADD CONSTRAINT FK_DictionaryItem_Dictionary 
	FOREIGN KEY(IdDict)
	REFERENCES dbo.Dictionary(IdDict)
GO
ALTER TABLE dbo.Document 
	ADD CONSTRAINT FK_Document_DocumentTemplate 
	FOREIGN KEY(IdDT)
	REFERENCES dbo.DocumentTemplate(IdDT)
GO
ALTER TABLE dbo.Document
	ADD CONSTRAINT FK_Document_TaskState 
	FOREIGN KEY(IdDocState)
	REFERENCES dbo.TaskState(IdTaskState)
GO
ALTER TABLE dbo.Document
	ADD CONSTRAINT FK_Document_Document 
	FOREIGN KEY(IdDocRelation)
	REFERENCES dbo.Document(IdDoc)
GO
ALTER TABLE dbo.DocumentItem
	ADD CONSTRAINT FK_DocumentItem_Document 
	FOREIGN KEY(IdDoc)
	REFERENCES dbo.Document(IdDoc)
	ON DELETE CASCADE
GO
ALTER TABLE dbo.DocumentItem  
	ADD CONSTRAINT FK_DocumentItem_DocumentTemplateItem 
	FOREIGN KEY(IdDTI)
	REFERENCES dbo.DocumentTemplateItem(IdDTI)
GO
ALTER TABLE dbo.DocumentTemplateItem 
	ADD CONSTRAINT FK_DocumentTemplateItem_DocumentTemplate 
	FOREIGN KEY(IdDT)
	REFERENCES dbo.DocumentTemplate(IdDT)
GO
ALTER TABLE dbo.Task  
	ADD CONSTRAINT FK_Task_TaskState 
	FOREIGN KEY(IdTaskState)
	REFERENCES dbo.TaskState(IdTaskState)
GO
ALTER TABLE dbo.Task
	ADD CONSTRAINT FK_Task_Document 
	FOREIGN KEY(ObjectId)
	REFERENCES dbo.Document(ObjectId)
	ON DELETE CASCADE ON UPDATE CASCADE
